@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  color: #f7f7f7;
  font-family: "Baloo Da 2", cursive;
}

section {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  display: inline-block;
  margin: auto;
  margin-bottom: 20px;

  hr {
    width: 50%;
    margin: 0 auto;
    color: #cfcfcf;
  }
}